// 1-live sass compiler
// 2- npm install -g sass, sass --watch scss:css
// 3- desktop app [koala - propros - compass]

//& sass --> old syntax [indentation]

// body
//     background: #eee
//     font-family: sans-serif

//&scss --> new syntax [curly brackets]
//anything written in scss file will be converted to css file
//syntax of css works in scss
//? Comments
//comment not converted to css
/*comment will appear in css*/
/*!comment will appear in css and minified css*/

@import "./variables";

//? Nesting
.parent{
    background-color: aqua;
    .child{
        color: red;
        .subchild{
            background-color: green;
        }
    }
}

//? sass ampersand
.container{
    width: 80%;
    margin: 0 auto;
    &-fluid{
        width: 100%;
        &:hover{
            background-color: red;
        }
    }
    &:hover{
        background-color: aqua;
    }
}

//? Variables
$font:20px;

.elem1{
    font-size:$font;
}

.elem2{
    $font:50px;
    font-size: $font;
}

$font:100px;
.elem3{
    font-size: $font;
    background-color: $primary;
    color: $secondary;
}


//? Directives [@-rule]

//^ extend

.boxv1{
    width: 100px;
    height: 100px;
    color: red;
}

.boxv2{
    @extend .boxv1;
    font-size: 20px;
    color: green;
}

//^ placeholder, does not generate css code, only used for extend(abstract class)
%box{
    width: 100px;
    height: 100px;
    background-color: red;
}

.box{
    @extend %box;
    background-color: yellow;
}

//^ loops
// interpolation #{$var}
// to : less than 12
// through : less than or equal to 12
@for $i from 1 through 12{
    .col-#{$i}{
        width: $i/12*100%;
    }
}

$i:1;
@while $i <= 12{
    .while-col-#{$i}{
        width: $i/12*100%;
    }
    $i: $i + 1;
}

$colors: blue, red ,green ,white;
@each $color in $colors{
    .each-#{$color}{
        background-color: $color;
    }
}

$websites:(
    google:blue,
    facebook:green,
    twitter:cyan
);

@each $key,$value in $websites{
    .each-#{$key}{
        background-color: $value;
    }
}

//^ mixins and functions
@function Half($data){
    @return $data/2;
}
$size: 100px;
.fun-elem{
    width: $size;
    height: Half($size);
}

@mixin block{
    font-size: 100px;
    width: 500px;
    height: 500px;
    background-color: red;
}
//@include order matters (to override it ha to be after @include)
.mixin-elem{
    @include block();
    background-color: green;
}

@mixin Square($size:80px,$font:20px,$color:blue){
    width: $size;
    height: $size*2;
    font-size: $font;
    background-color: $color;
}

.square{
    @include Square(100px,20px,red);
}

@mixin Theme($is-dark:false){
    @if $is-dark{
        body{
            background-color: black;
        color: white;
        }
    }
    @else{
        body{
            background-color: white;
            color: black;
        }
    }
}

@include Theme(true);

//? hyphen naming convention 
body{
    background-color: aqua;
}
//? BEM "Block Element Modifier"
.container__child--red{
    background-color: red;
}