/* Header Bar */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background: rgba(15, 15, 19, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #1e1e2e;
  padding: 16px 0;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #f1f5f9;
  letter-spacing: -0.03em;
}

.logo span {
  color: #7c3aed;
}

/* Nav Structure */
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 100px;
}

.nav-main {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-auth {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: #94a3b8;
  border-bottom: 2px solid transparent;
  padding-bottom: 0px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #a78bfa;
}

.nav-link.active {
  color: #a78bfa;
  border-bottom: 2px solid #7c3aed;
  padding-bottom: 0px;
}

/* Timer Badge */
.timer-badge {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(124, 58, 237, 0.1);
  /* padding: 4px 12px 0 4px; */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 9999px;
  border: 1px solid rgba(124, 58, 237, 0.2);
  margin-left: 8px;
}

.timer-text {
  font-size: 0.75rem;
  font-weight: 600;
  color: #a78bfa;
  font-variant-numeric: tabular-nums;
}

.stop-btn {
  background-color: #7c3aed;
  color: #f1f5f9;
  padding: 4px 12px;
  border-radius: 9999px;
  border: 1px solid rgba(124, 58, 237, 0.2);
  margin-left: 8px;
  cursor: pointer;
}

/* User Section */
.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16px;
  padding-left: 16px;
  /* border-left: 1px solid #1e1e2e; */
}

.username {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 0.875rem;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-signup {
  background: #7c3aed;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-signup:hover {
  background: #6d28d9;
  transform: translateY(-1px);
}

.nav-btn-outline {
  border: 1px solid #1e1e2e;
  color: #94a3b8;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.nav-btn-outline:hover {
  border-color: #ef4444;
  color: #ef4444;
}

.timer-section {
  display: flex;
  align-items: center;
  margin-left: 16px;
}