
p{
    margin-top:2px
}
input{
    border-radius: 4px;
}
input[type='text']:invalid{
    border: red solid 2px;
}
input[type='text']:valid{
    border: greenyellow solid 2px;

}

input:valid+p{
    visibility: hidden;
}

input:invalid+p{
    color: grey;
}