body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div{
    height: 300px;
}
footer,header{
    text-align: center;
    background-color: royalblue;
    padding: 20px;
    color: white;    
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.side-bar {
    flex:1 1 200px;
    background-color: darkorange;
    text-align: center;
}

#main-content {
    flex: 2 1 300px;
    background-color: yellowgreen;
    text-align: center;
}
span{
    margin-top: 10px;
}
