
#nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: lightgrey;
}

button{
    border-style: none;
    background: transparent;
    font-size: 27px;
    width: 200px;
}

button:hover{
    opacity: 70%;
}
section {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.div{
    border-style: solid;
    border-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 300px;
    min-height: 200px;
}

.footer{
    background-color: lightgrey;
    padding: 15px;
    margin: 0;
}