<header class="header">
    <div class="logo">
      MyApp
    </div>
  
    <nav class="nav">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="about" routerLinkActive="active">About</a>
      <a routerLink="users" routerLinkActive="active">Users</a>
      <a routerLink="profile" routerLinkActive="active">Profile</a>
      <a routerLink="tracks" routerLinkActive="active">Tracks</a>
      <a routerLink="/login" routerLinkActive="active">login</a>
      <a routerLink="/signup" routerLinkActive="active">signup</a>
    </nav>
  </header>